@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Chivo Mono, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c1022;
    margin-top: 100px;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: animate 4s linear infinite;
}

.box_span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: #0c1022;
    z-index: 1;
}

.box_title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 4em;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
